{% extends 'blog/main.html' %}
{% block main_section %}
    <h3>Страница с контактами</h3> 
{% endblock main_section %}
 
{% block aside_news_section %}
 <h3><b>Где заработать программисту? 5 проверенных способов</b></h3>
 <img src="https://itproger.com/img/news/1546855654.jpg" class="img-thumbnail mb-1">
 <p>Заработать денег можно не только стандартно, есть и весьма необычные, интересные способы заработка на программировании. Мы расскажем про 5 способов как и где можно заработать.	  
 </p>
 <a href="https://itproger.com/news/160" target="_blank">
 <button class="btn btn-warning">Перейти</button>
 </a>                                                            
{% endblock aside_news_section%}